
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide-shm
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide-wal
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csproj.CoreCompileInputs.cache
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csproj.FileListAbsolute.txt
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csprojAssemblyReference.cache
ConectionHubbleWS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csproj.FileListAbsolute.txt
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csproj.CoreCompileInputs.cache
ConectionHubbleWS/obj/Debug/ConectionHubbleWS.csprojAssemblyReference.cache
ConectionHubbleWS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ControlVolumetricoShellWS.Contract/obj/Debug/ControlVolumetricoShellWS.Contract.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Contract/obj/Debug/ControlVolumetricoShellWS.Contract.csproj.FileListAbsolute.txt
ControlVolumetricoShellWS.Contract/obj/Debug/ControlVolumetricoShellWS.Contract.csprojAssemblyReference.cache
ControlVolumetricoShellWS.Contract/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ControlVolumetricoShellWS.Contract/obj/Release/ControlVolumetricoShellWS.Contract.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Implementation/obj/Debug/ControlVolumetricoShellWS.Implementation.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Implementation/obj/Debug/ControlVolumetricoShellWS.Implementation.csproj.FileListAbsolute.txt
ControlVolumetricoShellWS.Transaction.Dominio/obj/Debug/ControlVolumetricoShellWS.Dominio.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Debug/ControlVolumetricoShellWS.Dominio.csprojAssemblyReference.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Debug/ControlVolumetricoShellWS.Transaction.Dominio.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Debug/ControlVolumetricoShellWS.Transaction.Dominio.csprojAssemblyReference.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Release/ControlVolumetricoShellWS.Dominio.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.Transaction.Dominio/obj/Release/ControlVolumetricoShellWS.Dominio.csprojAssemblyReference.cache
ControlVolumetricoShellWS.WCFService/obj/Debug/_WPPLastBuildInfo.txt
ControlVolumetricoShellWS.WCFService/obj/Debug/ControlVolumetricoShellWS.WCFService.csproj.CoreCompileInputs.cache
ControlVolumetricoShellWS.WCFService/obj/Debug/ControlVolumetricoShellWS.WCFService.csproj.FileListAbsolute.txt
ControlVolumetricoShellWS.WCFService/obj/Debug/ControlVolumetricoShellWS.WCFService.csprojAssemblyReference.cache
