
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide-shm
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/ControlVolumetricoShellWS/v15/Server/sqlite3/storage.ide
*.ide
